/* Donate page  */


/** SPACE
===================================*/
$spacer:
	( space5, 5px),
	( space10, 10px),
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

.title-lg {
	font-size: 46px;
	line-height: 1.1em;
	margin: 0;
	margin-bottom: 20px;
}

.donatmount-tabs {
	.nav-tabs {
		li {
			a {
				text-transform: none;
				font-weight: 600;
				color: #292b2c;
				display: inline-block;
				padding: 5px 10px;
			}
		}
	}

	.tab-content {
		padding: 30px 0;
	}
}


ul {
	&.list-donatmount {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			padding: 0;
			margin: 0;
			list-style: none;
			margin: 0 3px 5px;
			display: inline-block;
			vertical-align: top;
		}

		.form-control {
			width: 100px;
			border-radius: 0;
		}
	} 
}

.btn-donate-val {
	&.btn-orange {
		min-width: 100px;
		position: relative;
		top: 0;
		border-radius: 3px;
		transition: none;

		&:focus {
			top: 1px;
		}

		&:hover, &:focus {
			outline: 0 !important;
		}

		&.active {
			background-color: #776e64 !important;
			border-color: #776e64 !important;
			color: #ffffff !important;
		}
	}
}

.form-info {
	@media screen and (min-width: 62em) {
		width: 500px;
	}
}

.list-pay {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		padding: 0;
		margin: 0;
		list-style: none;
		margin: 0 3px 5px;
		display: inline-block;
		vertical-align: top;
	}
}

.cardpay-wrap {
	margin: 20px 0;
	align-items: center;
	justify-content: flex-start;	

	.form-control {
		margin-bottom: 10px;
	}

	@media screen and (min-width: 48em) {
		display: flex;

		.form-control {
			max-width: 250px;
			margin-right: 15px;
		}
	}
}

.form-label-full {
	font-weight: 600;
	display: block;
	margin: 0;
	margin-bottom: 8px;
}

a.link-normal {
	text-transform: none;
	font-weight: normal;

	&:hover {
		
	}
}

.cardInfo {
	@media screen and (min-width: 48em) {
		max-width: 500px;
	}
}


.donate-submits {
	border-top: 1px solid #f1f1f1;
	padding-top: 30px;
	text-align: center;
	.btn-donate-action, 
	.link-authorized  {
		margin: 8px;
	}
}

.btn-donate-action {

	&.btn-blue {
		display: inline-block;
		vertical-align: top;
		font-weight: 400;
		cursor: pointer;
		border-radius: 3px;
		strong {
			display: block;
			font-weight: 900;
			color: white;
			text-transform: uppercase;
			text-align: center;
			font-size: 30px;
		}
	}
}

.link-authorized {
	display: inline-block;
	text-align: center;
	vertical-align: top;

	img {
		display: block;
		text-align: center;
	}

	small {
		font-size: 0.6em;
		display: block;
	}
}

.intro-imgside {
	margin-bottom: 25px;

	figure {
		margin-bottom: 10px;
	}

	p {
		font-size: 0.9em;
	}
}

.justdonated {
	margin-bottom: 25px;
	header {
		background-color: #878cb4;
		color: white;
		text-align: center;
		padding: 15px 20px;

		h3 {
			margin: 0;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
			letter-spacing: 0.09em;
			color: white;
		}
	}

	.desc {
		padding: 20px;
		border-left: 1px solid #d6d3d0;
		border-right: 1px solid #d6d3d0;
		border-bottom: 1px solid #d6d3d0;

		.name {
			display:  block;
			font-weight: 900;
			color: #ff9e1b;
			text-transform: none;
		}
	}
}

.accreditations {
	@media screen and (min-width: 48em) {
		text-align: center;
	}

	ul {
		li {
			display: inline-block;
			padding: 8px 5px;
		}
	}
}

.content-left {
	margin-bottom: 45px;
}

.right-space {
	@media screen and (min-width: 62em) {
		padding-right: 40px;
	}
}

.logo-foo-btm.logo-footer {
	text-align: center;
	@media screen and (min-width: 42em) {
		float: left;
		margin-right: 15px;
		text-align: left;
	}
}
.ovlow {
	overflow: hidden;
}

