footer {
	margin-top: 3rem;
	h5 {
		font-size: 16px;
		color: #4E5661;
		font-weight: 900;
	}
	ul.footer-list {
		font-size: 16px;
		padding-left: 0px;
	    margin-top: 18px;
		list-style: none;
		li {
			margin-bottom: 8px;
			color: #776e64;
			&:first-child {
				font-weight: 900;
			}
			a {
				font-size: 16px;
				text-transform: none;
				font-weight: 300;
				color: #776e64;
				text-decoration: underline;
				&:hover,
				&:focus,
				&:active {
					color: #ff9e1b;
				}
			}
		}
		&.bold {
			li {
				a {
					font-weight: 900;
					text-decoration: none;
				}
			}
		}
	}
	.logo-footer {
		margin-top: 20px;
		margin-bottom: 20px;
		img {
    	    width: 180px;
		}
	}
	.get-action-alert {
		margin-top: 1.8rem;
		text-align: center;
		i {
			margin-right: 2px;
		}
		input[type="email"] {
			font-size: 14px;
			@include border-radius(0px);
			border: 1px solid #d6d3d0;
		}
	}
	.link-media {
		text-align: center;
		margin-top: 1.9rem;
		i {
			position: relative;
			left: 12px;
			@include transition(all 0.35s);
		}
		&:hover {
			i {
				position: relative;
				left: 20px;
			}
		}
	}

	.footer-bottom {
		margin-top: 4rem;
	    padding-top: 15px;
	    padding-bottom: 30px;
		border-top: 1px solid rgba(119, 110, 100, 0.30);
		ul.left {
			padding-left: 0px;
			margin-bottom: 0px;
			li {
				font-size: 14px;
				color: #776e64;
				display: inline-block;
				margin-right: 10px;
				a {
					font-size: 14px;
					font-weight: 300;
					text-transform: none;
					color: #776e64;
					&:hover {
						color: #ff9e1b;
					}
				}
			}
		}
		ul.right {
			@extend ul.left;
			li {
				a {
					text-decoration: underline;
				}
				span {
					display: inline-block;
					position: relative;
					&:before {
					    content: '';
					    position: absolute;
					    width: 100%;
					    height: 1px;
					    background-color: #776e64;
					    top: 16px;
					}
				}
				&:nth-child(6) {
					margin-right: 0px;
					a {
						text-decoration: none;
					}
				}
			}
		}
		ul.footer-social {
			padding-left: 0px;
			text-align: right;
			@media (max-width: 768px) {
				text-align: center;
			    padding-top: 3rem;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) {
				padding-top: 1rem;
			}
			li {
				display: inline-block;
				margin-right: 25px;
				&:last-child {
					margin-right: 0px;
				}
				a {
					font-size: 21px;
					color: #776e64;
					&:hover {
						color: #a4a9a0;
					}
				}
			}
		}
	}
}

.footer-donate {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		margin-top: 1.6rem;
	}
}

ul.footer-list,
ul.menu-expand-list {
	font-size: 16px;
	padding-left: 0px;
    margin-top: 18px;
	list-style: none;
	li {
		margin-bottom: 8px;
		color: #776e64;
		&:first-child {
			font-weight: 900;
		}
		a {
			font-size: 16px;
			text-transform: none;
			font-weight: 300;
			color: #776e64;
			text-decoration: underline;
			@include transition(all 0.35s);
		}
	}
	&.bold {
		li {
			a {
				font-weight: 900;
				text-decoration: none;
			}
		}
	}
}


