@import 'mixins.scss';

section.advance-justice,
section.approach-orange {
	.wrap-advance-justice,
	.wrap-approach-orange {
	    position: relative;
	    top: -118px;
	    min-height: 200px;
	    @media (min-width: 768px) {
	    	top: -112px;
	    }
	    &:before {
    	    content: "";
    	    width: 100%;
    	    background: url("../images/perspective-top.png") no-repeat;
    	    height: 281px;
    	    position: absolute;
    	    background-size: cover;
    	    margin-top: -12px;
	    }
	}
	.content-advance-justice {
		background-color: #ff9e1b;
	    padding-top: 2rem;
	    position: relative;
	    top: 8rem;
    	color: #ffffff;
	    padding-bottom: 4rem;
	    @media (max-width: 768px) {
	    	top: 7rem;
	    }
    	.container-fluid {
		    padding-left: 110px;
    		padding-right: 110px;
    		@media (max-width: 768px) {
			    padding-left: 33px;
			    padding-right: 33px;
    		}
    		@media (min-width: 1024px) {
			    padding-left: 15px;
   		 		padding-right: 15px;
    		}
    		@media (min-width: 1200px) {
    			padding-left: 15px;
    			padding-right: 15px;
    		}
    		@media (min-width: 1280px) {
    			padding-left: 15px;
    			padding-right: 15px;
    		}
    		@media (min-width: 1440px) {
			    padding-left: 28px;
    			padding-right: 28px;
    		}
    	}
	    h1 {
	    	font-size: 46px;
	    	color: #ffffff;
	    	@media (max-width: 768px) {
		    	font-size: 30px;
	    	}
	    }
	    p {
	    	padding-right: 2rem;
	    	@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) { 
	    		padding-right: 0rem;
			}
			@media (min-width: 768px) {
				padding-right: 1rem;
			}
	    }
	    a {
	    	font-size: 14.02px;
	    	color: #ffffff;
	    	margin-top: 2rem;
	    	display: block;
	    	i {
	    		margin-left: 12px;
	    	}
    		&:hover {
    			color: #776e64;
				i {
					margin-left: 20px;
				}
			}
	    }
	    .grid-thumb-advance-justice {
		    text-align: center;
	        margin-top: 4rem;
	        position: relative;
	    	img {
    		    width: 203px;
			    height: 202px;
			    object-fit: cover;
			    @media (min-width: 768px) {
		    	    width: 164px;
				    height: 164px;
				    object-fit: cover;
			    }
			    @media (min-width: 1024px) {
			    	width: 140px;
					height: 140px;
			    }
			    @media (min-width: 1200px) {
		    	    width: 175px;
					height: 175px;
			    }
			    @media (min-width: 1280px) {
		    	    width: 173px;
    				height: 173px;
			    }
			    @media (min-width: 1440px) {
			    	width: 203px;
				    height: 202px;
			    }
	    	}
	    	.text-thumb {
	    		text-transform: uppercase;
	    		letter-spacing: 2.5px;
	    		font-weight: 900;
	    		position: absolute;
	    		width: 100%;
	    		height: 202px;
	    		@media (min-width: 768px) {
	    			font-size: 18px;
	    			height: 173px;
	    		}
	    		@media (min-width: 1280px) {
	    			font-size: 18px;
	    			height: 173px;
	    		}
	    		@media (min-width: 1600px) {
	    			font-size: 18px;
	    		}
	    		span {
	    			display: block;
    			    line-height: 13rem;
    			    @media (min-width: 768px) {
			    	    line-height: 11rem;
    			    }
    			    @media (min-width: 1024px) {
    	    	    	line-height: 9rem;
    			    }
    			    @media (min-width: 1200px) {
		    	    	line-height: 11rem;
    			    }
    			    @media (min-width: 1280px) {
		    	    	line-height: 11rem;
    			    }
    			    @media (min-width: 1440px) {
    			    	line-height: 13rem;
    			    }
	    		}
	    	}
	    }
	}
}

section.sign-up-alert {
	background-color: #f2f3f1;
    padding-top: 3.4rem;
    padding-bottom: 2.6rem;
    @media (max-width: 768px) {
    	padding-top: 1.4rem;
    }
    @media (min-width: 768px) {
        padding-bottom: 1.4rem;
    	padding-top: 1.4rem;
    }
    @media (min-width: 800px) {
        padding-bottom: 1.4rem;
    	padding-top: 2.4rem;
    }
    @media (min-width: 1024px) {
    	padding-top: 2.4rem;
    }
    @media (min-width: 1200px) {
  		padding-top: 2.5rem;
    }
    h1 {
	    padding-top: 12px;
	    @media (max-width: 768px) {
	    	font-size: 20px;
	    }
	    @media (min-width: 768px) {
	    	font-size: 24px;
	    }
	    @media (min-width: 1200px) {
	    	font-size: 2rem;
	    }
    	i {
		    font-size: 30px;
    		color: #ff9e1b;
		    margin-right: 8px;
		    @media (max-width: 768px) {
		    	font-size: 20px;
		    	top: 0;
		    }
    	}
    }
    .input-group {
    	input[type="email"] {
			font-size: 21px;
    		height: 60px;
    		padding-left: 20px;
    		padding-right: 20px;
    		border: 1px solid #d6d3d0;
    		@include border-radius(0px);
    		@media (max-width: 768px) {
    			font-size: 18px;
    			height: 48px;
    		}
    	}
    	.btn-orange {
    		font-size: 24px;
    		font-weight: 900;
    		text-transform: uppercase;
    		@media (max-width: 768px) { 
    			font-size: 18px;
    		}
    	}
    }
}

section.featured-resource,
section.featured-victory {
    margin-top: 4rem;
	.content-featured-resource,
	.content-featured-victory {
		h1 {
			font-size: 32px;
			color: #ff9e1b;
			@media (max-width: 768px) {
				font-size: 28px;
			}
		}
		h5 {
			font-size: 14px;
			text-transform: uppercase;
		    margin-bottom: 1.3rem;
		}
		p {
			font-size: 18px;
			color: #776e64;
		    margin-top: 35px;
		    @media (max-width: 768px) {
    	    	font-size: 16px;
		    }
		}
		&.desc {
            padding-right: 10rem;
    	    padding-top: 2rem;
    	    @media (max-width: 768px) {
    	    	padding-right: 0rem;
    	    }
    	    @media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
		    	padding-right: 1rem;
			}
			@media (min-width: 768px) {
				padding-right: 0rem;
			}
    	     @media (min-width: 1200px) {
    	    	padding-right: 6rem;
    	    }
    	    @media (min-width: 1280px) {
    	    	padding-right: 6rem;
    	    }
    	    @media (min-width: 1440px) {
    	    	padding-right: 10rem;
    	    }
    	    a {
    	    	&:hover {
		    	    .icon {
			    		&.arrow-right-orange {
			    			@include transition(all 0.35s);
			    			margin-left: 20px;
			    		}
		    	    }
    	    	}
    	    }
		}
	}
	.img-featured-resource {
	    width: 100%;
		height: 300px;
		overflow: hidden;
		@media (max-width: 768px) {
	    	width: 100%;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
	    	height: 220px;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
    	    width: 100%;
		}
		@media (min-width: 1200px) {
	    	width: 90%;
		}
		@media (min-width: 1280px) {
	    	width: 90%;
		}
		@media (min-width: 1440px) {
	    	width: 90%;
		}
		@media (min-width: 1600px) {
			width: 90%;
		}
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}
	.icon-download {
		width: 10px;
		height: 10px;
		background: url("../images/icon-download.png") no-repeat;
		display: inline-block;
		margin-right: 10px;
	}
	.btn-bottom {
	    margin-top: 3rem;
		a {
			font-size: 14px;
			text-transform: uppercase;
			i {
				margin-left: 12px;
			}
			&:first-child {
				margin-right: 30px;
				@media only screen 
				and (min-device-width : 768px) 
				and (max-device-width : 1024px)  {
					margin-right: 20px;
				}
			}
		}
	}
}

.wrap-topic {
	border-top: 1px solid rgba(119, 110, 100, 0.30);
	margin-top: 4rem;
    margin-bottom: 4rem;
	.topic {
		padding-top: 2rem;
		h3 {
			font-size: 24px;
			color: #ff9e1b;
			margin-top: 1.4rem;
		}
		h5 {
			font-size: 14px;
			text-transform: uppercase;
		}
		.topic-date {
			font-size: 14px;
			color: #776e64;
			display: inline-block;
		}
		.badge {
			margin-left: 1rem;
		}
		a {
			margin-top: 1.6rem;
			display: block;
			font-weight: 900;
			i {
				margin-left: 12px;
			}
	    	&:hover {
	    	    .icon {
		    		&.arrow-right-orange {
		    			@include transition(all 0.35s);
		    			margin-left: 20px;
		    		}
	    	    }
	    	}
		}
		&.blog {
			.top-topic {
				clear: both;
			}
			.img-topic {
				float: left;
				margin-right: 20px;
				margin-bottom: 20px;
				@media (max-width: 768px) {
				    float: none;
				    margin-right: 0px;
				}
				img {
					width: 140px;
					height: 140px;
					overflow: hidden;
					object-fit: cover;
					@media (max-width: 768px) {
				    	width: 50%;
					}
					@media only screen 
					and (min-device-width : 768px) 
					and (max-device-width : 1024px)  {
						width: 140px;
					}
				}
			}
			a {
				clear: both;
				display: block;
			}
		}
	}
}

section.twitter,
section.facebook {
	background-color: #f2f3f1;
	min-height: 500px;
	position: relative;
	@media (max-width: 768px) {
	    min-height: 640px;
		.no-pad-left {
			padding-right: 0px;
		}
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
    	min-height: 400px;
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
        min-height: 465px;
	}
	&:after {
		content: '';
		background: url("../images/perspective-top-2.png") no-repeat;
		width: 100%;
	    height: 140px;
	    background-size: cover;
	    bottom: 0rem;
	    position: absolute;
	    z-index: 0;

	}
	.content-twitter,
	.content-facebook {
		.img-twitter {
			position: relative;
			overflow: hidden;
			img {
				width: auto;
			    -webkit-filter: grayscale(100%);
    			filter: grayscale(100%);
			    height: 100%;
    			object-fit: cover;
    			@media (max-width: 768px) {
    				width: 100%;
    			}
				@media only screen 
				and (min-device-width : 768px) 
				and (max-device-width : 1024px) 
				and (orientation : portrait) {
				    height: 404px;
    				object-fit: cover;
				}
				@media only screen 
				and (min-device-width : 768px) 
				and (max-device-width : 1024px) 
				and (orientation : landscape) {
			        min-height: 400px;
    				object-fit: cover;
				}
				@media (min-width: 1200px) {
				    height: 500px;
    				object-fit: cover;
				}
			}
			i {
				font-size: 100px;
				color: #ffffff;
			}
		}
		.mention {
			font-weight: 900;
			font-size: 24px;
			color: #ffffff;
		}
		.twitter-detail,
		.facebook-detail {
			font-size: 32px;
			font-weight: 900;
			color: #776e64;
	        padding-top: 4rem;
		    padding-left: 6rem;
	        padding-right: 6rem;
		    line-height: 36px;
		    @media (max-width: 768px) {
		    	font-size: 18px;
		    	padding-left: 15px;
		    	padding-right: 15px;
	    	    line-height: 28px;
    	        padding-top: 2rem;
		    }
		    @media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) { 
			    font-size: 28px;
    			padding-right: 3rem;
    			padding-left: 2rem;
			}
			@media (min-width: 1200px) {
				font-size: 32px;
				padding-top: 4rem;
			    padding-left: 4rem;
			    padding-right: 16rem;
			    line-height: 36px;
			}
			@media (min-width: 1600px) {
				padding-top: 4rem;
				padding-right: 23rem;
			}
		}

		.tweet {
			padding-left: 6rem;
		    margin-top: 2rem;
		    margin-bottom: 2rem;
		    @media (max-width: 768px) {
	    	    padding-left: 1rem;
    			margin-top: 1rem;
		    }
		    @media (min-width: 768px) {
	    	    margin-bottom: 10rem;
		    }
		    @media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				padding-left: 2rem;
		        margin-bottom: 10rem;
			}
		    @media (min-width: 1200px) {
    	    	padding-left: 4rem;
    	    	margin-bottom: 2rem;
		    }
		    span {
		    	display: inline-block;
		    	margin-right: 30px;
		    	@media (max-width: 768px) {
			    	margin-right: 14px;
				}
		    	&:last-child {
		    		margin-right: 0px;
		    	}
		    	a {
		    		text-transform: none;
		    	}
		    }
		    .hours,
		    .dates {
		    	color: #776e64;
		    }
		    .retweet,
		    .view {
		    	font-weight: 900;
		    	color: #ff9e1b;
		    }
		    .retweet {
		    	&:hover {
		    		.icon {
		    			&.retweet {
		    				background: url("../images/icon-retweet-hover.png") no-repeat;
		    			}
		    		}
		    	}
		    }
		}
	}
}

section.facebook  {
	background-color: #ffffff;
	@media (max-width: 768px) {
    	margin-bottom: 1rem;
	}
	.no-pad-left {
		@media (min-width: 800px) {
			padding-left: 15px;
		}
	}
	&:after {
		content: '';
		background: none;
		display: none;
	}
	.content-facebook {
		position: relative;
		&.border-right {
			height: 580px;
			@media (max-width: 768px) {
		    	height: 320px;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) { 
				height: 580px;
			}
			@media (min-width: 768px) {
				height: 100%;
			}
			&:after {
				content: '';
				width: 1px;
			    height: 115%;
				position: absolute;
				background-color: #d6d3d0;
		        top: -74px;
		    	bottom: 0;
		    	right: 0;
		    	z-index: 2;
		    	@media (max-width: 768px) {
	    		    width: 100%;
				    height: 1px;
				    top: initial;
				    bottom: 0;
		    	}
		    	@media only screen 
				and (min-device-width : 768px) 
				and (max-device-width : 1024px) 
				and (orientation : portrait) { 
					width: 1px;
				    height: 115%;
			     	top: -66px;
				}
				@media (min-width: 768px) {
					width: 100%;
				    height: 1px;
				    top: initial;
				    bottom: 0;
				}
				@media (min-width: 1024px) {
					width: 1px;
				    height: 118%;
				    top: -95px;
			    	bottom: 0;
			    	right: 0;
				}
				@media (min-width: 1200px) {
					width: 1px;
				    height: 115%;
			        top: -86px;
				}
				@media (min-width: 1440px) {
			        top: -82px;
				}
				@media (min-width: 1600px) {
			        top: -74px;
				}
			}
		}
		.trending-facebook {
			@media (min-width: 768px) {
				margin-bottom: 50px;
			}
			@media (min-width: 1200px) {
				margin-bottom: 0px;
			}
			i {
				font-size: 100px;
				color: #ff9e1b;
			}
			.mention {
			    max-width: 200px;
    			margin: 0 auto;
				color: #776e64;
			    line-height: 30px;
			 	padding-top: 12px;
			}
		}
		.img-facebook {
			padding-left: 6rem;
			margin-bottom: 1rem;
		    width: 620px;
			height: 343px;
			overflow: hidden;
			@media (max-width: 768px) {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			    margin-top: 2rem;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				width: 94%;
				padding-left: 2rem;
			}
			@media (min-width: 800px) {
		    	width: 100%;
		    	margin-top: 40px;
	    	    padding-right: 2rem;
			}
			@media (min-width: 1200px) {
				width: 620px;
		    	padding-left: 4rem;
		    	margin-top: 0px;
			}
			img {
				width: 100%;
				height: 343px;
				object-fit: cover;
				border-top: 8px solid #878cb4;
			}
		}
		.facebook-detail {
			font-size: 18px;
			font-weight: 300;
			color: #776e64;
		    line-height: 30px;
			padding-top: 0rem;
		    @media (max-width: 768px) {
			    font-size: 16px;
			    padding-left: 15px;
			    padding-right: 15px;
		    }
		    @media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
		    	padding-right: 2rem;
		    	padding-left: 2rem;
			}
			@media (min-width: 1200px) {
				padding-right: 5.6rem;
			}
			@media (min-width: 1440px) {
		    	padding-right: 11.7rem;
			}
			@media (min-width: 1600px) {
				padding-right: 16rem;
			}
		}
	}
}

section.shame-nominees,
section.past-winner {
	background-color: #ff9e1b;
    min-height: 564px;
	position: relative;
	z-index: 2;
	@media (max-width: 768px) {
    	min-height: 640px;
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) { 
    	min-height: 480px;
	}
	@media (min-width: 768px) {
    	min-height: 530px;
	}
	.container-fluid {
	 	padding-left: 90px;
    	padding-right: 90px;
    }
    .stamp {
    	position: absolute;
    	&.rotate-1 {
    		@include transform(rotate(-4deg));
    		left: 57px;
    		margin-top: -24px;
    	}
    	&.rotate-2 {
    		@include transform(rotate(9deg));
		    margin-top: -94px;
    		right: 85px;
    	}
    	&.rotate-3 {
    		@include transform(rotate(-13deg));
	        margin-top: -82px;
    		right: 50px;
    	}
    	&.rotate-4 {
    		@include transform(rotate(8deg));
            margin-top: -56px;
    		right: 90px;
    	}
    }
	&:after {
		content: '';
		background: url("../images/perspective-top-2.png") no-repeat;
		width: 100%;
		height: 292px;
		background-size: cover;
		bottom: -10rem;
   	 	position: absolute;
   	 	z-index: 1;

	}
	.title-shame-nominees {
	    padding-top: 4rem;
    	padding-bottom: 4rem;
    	@media (max-width: 768px) {
    		padding-bottom: 0rem;
    	}
		h1 {
			font-size: 32px;
			color: #ffffff;
			@media (max-width: 768px) {
				font-size: 28px;
			}
		}
	}
	.thumb-down {
		position: relative;
   	 	top: 4px;
		margin-right: 10px;
	}
	.wrap-btn-vote {
		text-align: right;
		height: 170px;
		.btn-black {
			font-size: 24px;
			padding: 16px 26px;
		}
		.arrow-right-white {
			width: 15px;
		    height: 13px;
		    background-size: cover;
		    margin-left: 7px;
		    position: relative;
		    top: -3px;
		}
	}
}

.responsive-vote,
.one-slider-vote,
.responsive-take-action {
	#wrap-logo-company {
		border-right: 1px solid rgba(255, 255, 255, 0.27);
		border-left: 1px solid rgba(255, 255, 255, 0.27);
		position: relative;
		&:first-child {
			// border-left: 1px solid rgba(255, 255, 255, 0.27);
		}
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			border-left: 1px solid transparent;
		}
	}
	.slick-prev,
	.slick-next {
		&:before {
	    	font-family: FontAwesome;
		}
	}
	.slick-prev {
	    left: -80px;
	     background: url("../images/arrow-slider-left.png") no-repeat;
    	display: inline-block;
    	width: 31px;
    	height: 15px;
    	z-index: 2;
    	&:hover {
    		background: url("../images/arrow-slider-left-hover.png") no-repeat;
    	}
    	@media (max-width: 768px) {
    		left: 0;
    	}
    	@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
			left: 0;
		}
    	@media (min-width: 1200px) {
    		left: 0;
    	}
	    @media (min-width: 1280px) {
	    	left: -45px;
	    }
	    @media (min-width: 1440px) {
	    	left: -80px;
	    }
		&:before {
			font-size: 26px;
		    content: "";
		    color: #ffffff;
		}
	}
	.slick-next {
	    right: -80px;
	    background: url("../images/arrow-slider-right.png") no-repeat;
    	display: inline-block;
    	width: 31px;
    	height: 15px;
    	z-index: 2;
    	&:hover {
    		background: url("../images/arrow-slider-right-hover.png") no-repeat;
    	}
    	@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
			right: 0;
		}
	   	@media (max-width: 768px) {
    		right: 0;
    	}
    	@media (min-width: 1200px) {
	    	right: 0px;
	    }
	    @media (min-width: 1280px) {
	    	right: -40px;
	    }
	    @media (min-width: 1440px) {
	    	right: -80px;
	    }
		&:before {
	    	content: "";
		}
	}
	.slick-slide {
	    padding-bottom: 23px;
		padding-top: 35px;
		img {
			margin: 0 auto;
		}
		.logo-company {
	    	padding: 20px 0px;
		}
	}
}

section.fund-history {
	position: relative;
	z-index: 2;
	margin-top: 3rem;
	.content-fund,
	.content-history {
		background-color: #f2f3f1;
	    border-top: 8px solid #878cb4;
        padding-bottom: 1rem;
        @media (max-width: 768px) {
        	margin-bottom: 2rem;
        }
        @media (min-width: 768px) {
        	margin-bottom: 2rem
        }
        @media (min-width: 1200px) {
        	margin-bottom: 0rem;
        }
	}
	.chart-img {
		text-align: center;
		padding-top: 3rem;
		img {
			width: 270px;
		}
	}
	.report-chart {
		font-size: 13px;
		text-align: left;
	    padding-left: 3rem;
	    position: absolute;
	}
	.detail-fund,
	.detail-history {
        padding: 4rem 3rem 3rem 3rem;
        @media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
	    	padding: 4rem 3rem 1.6rem 3rem;
		}
		h1 {
			font-size: 24px;
		}
		p {
		    padding-top: 1rem;
		}
		i {
			margin-left: 12px;
		}
		a {
    		&:hover {
	    	    .icon {
		    		&.arrow-right-orange {
		    			@include transition(all 0.35s);
		    			margin-left: 20px;
		    		}
	    	    }
	    	}
		}
	}
	.detail-history {
		padding: 4rem 3rem 1rem 3rem;
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
    	    padding: 4rem 3rem 2.3rem 3rem;
		}
	}
	.list-charity {
	    padding-left: 33px;
	    @media (max-width: 768px) {
	    	text-align: center;
	    }
	    @media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) { 
			padding-left: 0px;
			text-align: center;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
			text-align: center;
		}
		li {
			margin-right: 32px;
			display: inline-block;
			&:nth-child(2),
			&:nth-child(4) {
				@media only screen 
				and (min-device-width : 768px) 
				and (max-device-width : 1024px) 
				and (orientation : portrait) { 
					margin-right: 0px;
				}
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) { 
				margin-bottom: 10px;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				margin-bottom: 10px;
			}
		}
	}
	.history-img {
		img {
		    width: 100%;
		    height: 200px;
		    object-fit: cover;
		}
	}
}

.overlay-orange {
    background-color: rgba(255, 158, 27, 0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	@include transition(all 0.35s);
}

section.get-involved {
	margin-top: 5rem;
	cursor: pointer;
	@media (max-width: 768px) {
		margin-top: 1rem;
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		margin-top: 3rem;
	}
	.thumb-involved {
		position: relative;
		overflow: hidden;
		height: 387px;
		margin-bottom: 35px;
		@media (max-width: 768px) {
			margin-bottom: 1rem;
		}
		@media (min-width: 800px) {
			margin-bottom: 2rem;
		}
		@media (min-width: 1200px) {
			margin-bottom: 0rem;
		}
		img {
			width: 100%;
		    height: 325px;
			object-fit: cover;
			-webkit-filter: grayscale(100%);
    		filter: grayscale(100%);
		}
	}
	.thumb-involved {
		&:hover {
			img {
				-webkit-filter: grayscale(0%);
	    		filter: grayscale(0%);
			}
			.overlay-orange { 
				background-color: transparent;
			}
			.caption-thumb {
				background-color: #ff9e1b;
			}
		}
	} 	
	.caption-thumb {
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	    text-align: center;
	    background-color: #776e64;
	    line-height: 62px;
        padding-top: 8px;
		@include transition(all 0.35s);
	    a {
	    	font-size: 24px;
	    	font-weight: 900;
	    	color: #ffffff;
	    	display: block;
	    	text-decoration: none;
	    	@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px)  {
				font-size: 22px;
			}
	    }
	    .icon {
    	    width: 16px;
    		height: 18px;
	    	&.arrow-right-white {
    		    background-size: contain;
			    margin-left: 12px;
			    position: relative;
			    top: 4px;
	    	}
	    }
	}
}

.thumb-involved {
	.overlay-orange {
	    background: #ff9e1b;
	    opacity: 1;
	    mix-blend-mode: multiply;
	}
}

