.btn-blue {
  background-color: #64ccc9;
  border-color: #64ccc9;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background-color: #57b1ae !important;
    border-color: #57b1ae !important;
    color: #ffffff !important; }

.btn-orange {
  background-color: #ff9e1b;
  border-color: #ff9e1b;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background-color: #776e64 !important;
    border-color: #776e64 !important;
    color: #ffffff !important; }

.btn-black {
  background-color: #776e64;
  border-color: #776e64;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-black:hover, .btn-black:active, .btn-black:focus {
    background-color: #514b44 !important;
    border-color: #514b44 !important;
    color: #ffffff !important; }

.badge-dark-blue {
  font-size: 14px;
  padding: 7px 10px 4px 10px;
  background-color: #878cb4;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .badge-dark-blue:hover {
    background-color: #6a6e8d; }

.wrap-vertical-align {
  display: table;
  width: 100%;
  height: 100%; }
  .wrap-vertical-align .vertical-align {
    display: table-cell;
    width: 100%;
    height: 100%; }

.vertical-align.middle {
  text-align: center;
  vertical-align: middle; }

.no-pad-right {
  padding-right: 0px; }

.no-pad-left {
  padding-left: 0px; }

.multiply-orange {
  background-color: #ff9e1b;
  background-blend-mode: multiply; }

input[type="text"],
input[type="email"],
input[type="number"],
textarea.form-control {
  border: 1px solid #979797; }

.icon {
  width: 12px;
  height: 10px;
  display: inline-block; }
  .icon.arrow-right-orange {
    background: url("../images/icon-arrow-right-orange.png") no-repeat;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.arrow-right-white {
    background: url("../images/icon-arrow-right-white.png") no-repeat;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.arrow-down-orange {
    background: url("../images/icon-arrow-down-orange.png") no-repeat;
    height: 12px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.retweet {
    background: url("../images/icon-retweet.png") no-repeat;
    width: 20px;
    height: 13px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.thumb-down {
    background: url("../images/icon-thum-down.png") no-repeat;
    width: 37px;
    height: 30px; }

.wrap-search {
  margin-top: 4rem; }
  .wrap-search .search {
    background-color: #878cb4;
    padding: 1.3rem 0rem 1.3rem 0rem; }
    @media (max-width: 768px) {
      .wrap-search .search .nav {
        display: block; } }
    .wrap-search .search .nav .nav-link {
      padding: 0.3em 1em;
      border: 1px solid transparent; }
      .wrap-search .search .nav .nav-link:hover, .wrap-search .search .nav .nav-link:focus, .wrap-search .search .nav .nav-link:active {
        background-color: rgba(255, 255, 255, 0.28);
        border: 1px solid #ffffff; }
    .wrap-search .search .nav .active {
      background-color: rgba(255, 255, 255, 0.28);
      border: 1px solid #ffffff; }
    .wrap-search .search .nav span {
      text-transform: uppercase !important;
      line-height: 30px; }
    .wrap-search .search .nav li > a,
    .wrap-search .search .nav span {
      font-size: 14px;
      text-transform: none;
      color: #ffffff; }
    .wrap-search .search .nav li {
      margin-right: 24px; }
      @media (max-width: 768px) {
        .wrap-search .search .nav li {
          margin-right: 10px;
          margin-left: 10px; } }
      .wrap-search .search .nav li:last-child {
        margin-right: 0px; }
  .wrap-search .search-result {
    border-left: 1px solid #d6d3d0;
    border-right: 1px solid #d6d3d0;
    border-bottom: 1px solid #d6d3d0;
    padding: 3rem 1rem 3rem 1rem; }
    @media (max-width: 768px) {
      .wrap-search .search-result {
        padding: 1rem 0rem 1rem 0rem; } }
    @media (max-width: 768px) {
      .wrap-search .search-result .nav {
        display: block; } }
    .wrap-search .search-result .nav li {
      margin-right: 40px; }
      @media (max-width: 768px) {
        .wrap-search .search-result .nav li {
          margin-right: 10px;
          margin-left: 10px; } }
      .wrap-search .search-result .nav li:last-child {
        margin-right: 0px; }
    @media (max-width: 768px) {
      .wrap-search .search-result.img {
        overflow: hidden; } }
    .wrap-search .search-result.img .nav li {
      margin-right: 18px; }
      @media (max-width: 768px) {
        .wrap-search .search-result.img .nav li {
          overflow: hidden;
          margin-bottom: 20px; } }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img .nav li {
          margin-right: 60px; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img .nav li {
          margin-right: 38px; } }
      .wrap-search .search-result.img .nav li:last-child {
        margin-right: 0px; }
    .wrap-search .search-result.img span.img,
    .wrap-search .search-result.img span.name {
      float: left; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.img,
        .wrap-search .search-result.img span.name {
          float: none; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img span.img,
        .wrap-search .search-result.img span.name {
          float: left; } }
    .wrap-search .search-result.img span.img {
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: inline-block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.img {
          text-align: center;
          display: block;
          margin: 0 auto; } }
      .wrap-search .search-result.img span.img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .wrap-search .search-result.img span.name {
      line-height: 70px;
      display: inline-block;
      margin-left: 18px; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.name {
          text-align: center;
          margin-left: 0px;
          display: block; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img span.name {
          margin-left: 11px; } }

.author {
  font-size: 14px;
  color: #776e64; }

section.advance-justice .wrap-advance-justice,
section.advance-justice .wrap-approach-orange,
section.approach-orange .wrap-advance-justice,
section.approach-orange .wrap-approach-orange {
  position: relative;
  top: -118px;
  min-height: 200px; }
  @media (min-width: 768px) {
    section.advance-justice .wrap-advance-justice,
    section.advance-justice .wrap-approach-orange,
    section.approach-orange .wrap-advance-justice,
    section.approach-orange .wrap-approach-orange {
      top: -112px; } }
  section.advance-justice .wrap-advance-justice:before,
  section.advance-justice .wrap-approach-orange:before,
  section.approach-orange .wrap-advance-justice:before,
  section.approach-orange .wrap-approach-orange:before {
    content: "";
    width: 100%;
    background: url("../images/perspective-top.png") no-repeat;
    height: 281px;
    position: absolute;
    background-size: cover;
    margin-top: -12px; }

section.advance-justice .content-advance-justice,
section.approach-orange .content-advance-justice {
  background-color: #ff9e1b;
  padding-top: 2rem;
  position: relative;
  top: 8rem;
  color: #ffffff;
  padding-bottom: 4rem; }
  @media (max-width: 768px) {
    section.advance-justice .content-advance-justice,
    section.approach-orange .content-advance-justice {
      top: 7rem; } }
  section.advance-justice .content-advance-justice .container-fluid,
  section.approach-orange .content-advance-justice .container-fluid {
    padding-left: 110px;
    padding-right: 110px; }
    @media (max-width: 768px) {
      section.advance-justice .content-advance-justice .container-fluid,
      section.approach-orange .content-advance-justice .container-fluid {
        padding-left: 33px;
        padding-right: 33px; } }
    @media (min-width: 1024px) {
      section.advance-justice .content-advance-justice .container-fluid,
      section.approach-orange .content-advance-justice .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 1200px) {
      section.advance-justice .content-advance-justice .container-fluid,
      section.approach-orange .content-advance-justice .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 1280px) {
      section.advance-justice .content-advance-justice .container-fluid,
      section.approach-orange .content-advance-justice .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 1440px) {
      section.advance-justice .content-advance-justice .container-fluid,
      section.approach-orange .content-advance-justice .container-fluid {
        padding-left: 28px;
        padding-right: 28px; } }
  section.advance-justice .content-advance-justice h1,
  section.approach-orange .content-advance-justice h1 {
    font-size: 46px;
    color: #ffffff; }
    @media (max-width: 768px) {
      section.advance-justice .content-advance-justice h1,
      section.approach-orange .content-advance-justice h1 {
        font-size: 30px; } }
  section.advance-justice .content-advance-justice p,
  section.approach-orange .content-advance-justice p {
    padding-right: 2rem; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      section.advance-justice .content-advance-justice p,
      section.approach-orange .content-advance-justice p {
        padding-right: 0rem; } }
    @media (min-width: 768px) {
      section.advance-justice .content-advance-justice p,
      section.approach-orange .content-advance-justice p {
        padding-right: 1rem; } }
  section.advance-justice .content-advance-justice a,
  section.approach-orange .content-advance-justice a {
    font-size: 14.02px;
    color: #ffffff;
    margin-top: 2rem;
    display: block; }
    section.advance-justice .content-advance-justice a i,
    section.approach-orange .content-advance-justice a i {
      margin-left: 12px; }
    section.advance-justice .content-advance-justice a:hover,
    section.approach-orange .content-advance-justice a:hover {
      color: #776e64; }
      section.advance-justice .content-advance-justice a:hover i,
      section.approach-orange .content-advance-justice a:hover i {
        margin-left: 20px; }
  section.advance-justice .content-advance-justice .grid-thumb-advance-justice,
  section.approach-orange .content-advance-justice .grid-thumb-advance-justice {
    text-align: center;
    margin-top: 4rem;
    position: relative; }
    section.advance-justice .content-advance-justice .grid-thumb-advance-justice img,
    section.approach-orange .content-advance-justice .grid-thumb-advance-justice img {
      width: 203px;
      height: 202px;
      -o-object-fit: cover;
      object-fit: cover; }
      @media (min-width: 768px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice img,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice img {
          width: 164px;
          height: 164px;
          -o-object-fit: cover;
          object-fit: cover; } }
      @media (min-width: 1024px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice img,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice img {
          width: 140px;
          height: 140px; } }
      @media (min-width: 1200px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice img,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice img {
          width: 175px;
          height: 175px; } }
      @media (min-width: 1280px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice img,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice img {
          width: 173px;
          height: 173px; } }
      @media (min-width: 1440px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice img,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice img {
          width: 203px;
          height: 202px; } }
    section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb,
    section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb {
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 900;
      position: absolute;
      width: 100%;
      height: 202px; }
      @media (min-width: 768px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb {
          font-size: 18px;
          height: 173px; } }
      @media (min-width: 1280px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb {
          font-size: 18px;
          height: 173px; } }
      @media (min-width: 1600px) {
        section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb,
        section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb {
          font-size: 18px; } }
      section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb span,
      section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb span {
        display: block;
        line-height: 13rem; }
        @media (min-width: 768px) {
          section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb span,
          section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb span {
            line-height: 11rem; } }
        @media (min-width: 1024px) {
          section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb span,
          section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb span {
            line-height: 9rem; } }
        @media (min-width: 1200px) {
          section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb span,
          section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb span {
            line-height: 11rem; } }
        @media (min-width: 1280px) {
          section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb span,
          section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb span {
            line-height: 11rem; } }
        @media (min-width: 1440px) {
          section.advance-justice .content-advance-justice .grid-thumb-advance-justice .text-thumb span,
          section.approach-orange .content-advance-justice .grid-thumb-advance-justice .text-thumb span {
            line-height: 13rem; } }

section.sign-up-alert {
  background-color: #f2f3f1;
  padding-top: 3.4rem;
  padding-bottom: 2.6rem; }
  @media (max-width: 768px) {
    section.sign-up-alert {
      padding-top: 1.4rem; } }
  @media (min-width: 768px) {
    section.sign-up-alert {
      padding-bottom: 1.4rem;
      padding-top: 1.4rem; } }
  @media (min-width: 800px) {
    section.sign-up-alert {
      padding-bottom: 1.4rem;
      padding-top: 2.4rem; } }
  @media (min-width: 1024px) {
    section.sign-up-alert {
      padding-top: 2.4rem; } }
  @media (min-width: 1200px) {
    section.sign-up-alert {
      padding-top: 2.5rem; } }
  section.sign-up-alert h1 {
    padding-top: 12px; }
    @media (max-width: 768px) {
      section.sign-up-alert h1 {
        font-size: 20px; } }
    @media (min-width: 768px) {
      section.sign-up-alert h1 {
        font-size: 24px; } }
    @media (min-width: 1200px) {
      section.sign-up-alert h1 {
        font-size: 2rem; } }
    section.sign-up-alert h1 i {
      font-size: 30px;
      color: #ff9e1b;
      margin-right: 8px; }
      @media (max-width: 768px) {
        section.sign-up-alert h1 i {
          font-size: 20px;
          top: 0; } }
  section.sign-up-alert .input-group input[type="email"] {
    font-size: 21px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #d6d3d0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    @media (max-width: 768px) {
      section.sign-up-alert .input-group input[type="email"] {
        font-size: 18px;
        height: 48px; } }
  section.sign-up-alert .input-group .btn-orange {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      section.sign-up-alert .input-group .btn-orange {
        font-size: 18px; } }

section.featured-resource,
section.featured-victory {
  margin-top: 4rem; }
  section.featured-resource .content-featured-resource h1,
  section.featured-resource .content-featured-victory h1,
  section.featured-victory .content-featured-resource h1,
  section.featured-victory .content-featured-victory h1 {
    font-size: 32px;
    color: #ff9e1b; }
    @media (max-width: 768px) {
      section.featured-resource .content-featured-resource h1,
      section.featured-resource .content-featured-victory h1,
      section.featured-victory .content-featured-resource h1,
      section.featured-victory .content-featured-victory h1 {
        font-size: 28px; } }
  section.featured-resource .content-featured-resource h5,
  section.featured-resource .content-featured-victory h5,
  section.featured-victory .content-featured-resource h5,
  section.featured-victory .content-featured-victory h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 1.3rem; }
  section.featured-resource .content-featured-resource p,
  section.featured-resource .content-featured-victory p,
  section.featured-victory .content-featured-resource p,
  section.featured-victory .content-featured-victory p {
    font-size: 18px;
    color: #776e64;
    margin-top: 35px; }
    @media (max-width: 768px) {
      section.featured-resource .content-featured-resource p,
      section.featured-resource .content-featured-victory p,
      section.featured-victory .content-featured-resource p,
      section.featured-victory .content-featured-victory p {
        font-size: 16px; } }
  section.featured-resource .content-featured-resource.desc,
  section.featured-resource .content-featured-victory.desc,
  section.featured-victory .content-featured-resource.desc,
  section.featured-victory .content-featured-victory.desc {
    padding-right: 10rem;
    padding-top: 2rem; }
    @media (max-width: 768px) {
      section.featured-resource .content-featured-resource.desc,
      section.featured-resource .content-featured-victory.desc,
      section.featured-victory .content-featured-resource.desc,
      section.featured-victory .content-featured-victory.desc {
        padding-right: 0rem; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      section.featured-resource .content-featured-resource.desc,
      section.featured-resource .content-featured-victory.desc,
      section.featured-victory .content-featured-resource.desc,
      section.featured-victory .content-featured-victory.desc {
        padding-right: 1rem; } }
    @media (min-width: 768px) {
      section.featured-resource .content-featured-resource.desc,
      section.featured-resource .content-featured-victory.desc,
      section.featured-victory .content-featured-resource.desc,
      section.featured-victory .content-featured-victory.desc {
        padding-right: 0rem; } }
    @media (min-width: 1200px) {
      section.featured-resource .content-featured-resource.desc,
      section.featured-resource .content-featured-victory.desc,
      section.featured-victory .content-featured-resource.desc,
      section.featured-victory .content-featured-victory.desc {
        padding-right: 6rem; } }
    @media (min-width: 1280px) {
      section.featured-resource .content-featured-resource.desc,
      section.featured-resource .content-featured-victory.desc,
      section.featured-victory .content-featured-resource.desc,
      section.featured-victory .content-featured-victory.desc {
        padding-right: 6rem; } }
    @media (min-width: 1440px) {
      section.featured-resource .content-featured-resource.desc,
      section.featured-resource .content-featured-victory.desc,
      section.featured-victory .content-featured-resource.desc,
      section.featured-victory .content-featured-victory.desc {
        padding-right: 10rem; } }
    section.featured-resource .content-featured-resource.desc a:hover .icon.arrow-right-orange,
    section.featured-resource .content-featured-victory.desc a:hover .icon.arrow-right-orange,
    section.featured-victory .content-featured-resource.desc a:hover .icon.arrow-right-orange,
    section.featured-victory .content-featured-victory.desc a:hover .icon.arrow-right-orange {
      -moz-transition: all 0.35s;
      -o-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      margin-left: 20px; }
  section.featured-resource .img-featured-resource,
  section.featured-victory .img-featured-resource {
    width: 100%;
    height: 300px;
    overflow: hidden; }
    @media (max-width: 768px) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        height: 220px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        width: 100%; } }
    @media (min-width: 1200px) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        width: 90%; } }
    @media (min-width: 1280px) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        width: 90%; } }
    @media (min-width: 1440px) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        width: 90%; } }
    @media (min-width: 1600px) {
      section.featured-resource .img-featured-resource,
      section.featured-victory .img-featured-resource {
        width: 90%; } }
    section.featured-resource .img-featured-resource img,
    section.featured-victory .img-featured-resource img {
      width: 100%;
      height: 300px;
      -o-object-fit: cover;
      object-fit: cover; }
  section.featured-resource .icon-download,
  section.featured-victory .icon-download {
    width: 10px;
    height: 10px;
    background: url("../images/icon-download.png") no-repeat;
    display: inline-block;
    margin-right: 10px; }
  section.featured-resource .btn-bottom,
  section.featured-victory .btn-bottom {
    margin-top: 3rem; }
    section.featured-resource .btn-bottom a,
    section.featured-victory .btn-bottom a {
      font-size: 14px;
      text-transform: uppercase; }
      section.featured-resource .btn-bottom a i,
      section.featured-victory .btn-bottom a i {
        margin-left: 12px; }
      section.featured-resource .btn-bottom a:first-child,
      section.featured-victory .btn-bottom a:first-child {
        margin-right: 30px; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          section.featured-resource .btn-bottom a:first-child,
          section.featured-victory .btn-bottom a:first-child {
            margin-right: 20px; } }

.wrap-topic {
  border-top: 1px solid rgba(119, 110, 100, 0.3);
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .wrap-topic .topic {
    padding-top: 2rem; }
    .wrap-topic .topic h3 {
      font-size: 24px;
      color: #ff9e1b;
      margin-top: 1.4rem; }
    .wrap-topic .topic h5 {
      font-size: 14px;
      text-transform: uppercase; }
    .wrap-topic .topic .topic-date {
      font-size: 14px;
      color: #776e64;
      display: inline-block; }
    .wrap-topic .topic .badge {
      margin-left: 1rem; }
    .wrap-topic .topic a {
      margin-top: 1.6rem;
      display: block;
      font-weight: 900; }
      .wrap-topic .topic a i {
        margin-left: 12px; }
      .wrap-topic .topic a:hover .icon.arrow-right-orange {
        -moz-transition: all 0.35s;
        -o-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        margin-left: 20px; }
    .wrap-topic .topic.blog .top-topic {
      clear: both; }
    .wrap-topic .topic.blog .img-topic {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .wrap-topic .topic.blog .img-topic {
          float: none;
          margin-right: 0px; } }
      .wrap-topic .topic.blog .img-topic img {
        width: 140px;
        height: 140px;
        overflow: hidden;
        -o-object-fit: cover;
        object-fit: cover; }
        @media (max-width: 768px) {
          .wrap-topic .topic.blog .img-topic img {
            width: 50%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          .wrap-topic .topic.blog .img-topic img {
            width: 140px; } }
    .wrap-topic .topic.blog a {
      clear: both;
      display: block; }

section.twitter,
section.facebook {
  background-color: #f2f3f1;
  min-height: 500px;
  position: relative; }
  @media (max-width: 768px) {
    section.twitter,
    section.facebook {
      min-height: 640px; }
      section.twitter .no-pad-left,
      section.facebook .no-pad-left {
        padding-right: 0px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    section.twitter,
    section.facebook {
      min-height: 400px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    section.twitter,
    section.facebook {
      min-height: 465px; } }
  section.twitter:after,
  section.facebook:after {
    content: '';
    background: url("../images/perspective-top-2.png") no-repeat;
    width: 100%;
    height: 140px;
    background-size: cover;
    bottom: 0rem;
    position: absolute;
    z-index: 0; }
  section.twitter .content-twitter .img-twitter,
  section.twitter .content-facebook .img-twitter,
  section.facebook .content-twitter .img-twitter,
  section.facebook .content-facebook .img-twitter {
    position: relative;
    overflow: hidden; }
    section.twitter .content-twitter .img-twitter img,
    section.twitter .content-facebook .img-twitter img,
    section.facebook .content-twitter .img-twitter img,
    section.facebook .content-facebook .img-twitter img {
      width: auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
      @media (max-width: 768px) {
        section.twitter .content-twitter .img-twitter img,
        section.twitter .content-facebook .img-twitter img,
        section.facebook .content-twitter .img-twitter img,
        section.facebook .content-facebook .img-twitter img {
          width: 100%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        section.twitter .content-twitter .img-twitter img,
        section.twitter .content-facebook .img-twitter img,
        section.facebook .content-twitter .img-twitter img,
        section.facebook .content-facebook .img-twitter img {
          height: 404px;
          -o-object-fit: cover;
          object-fit: cover; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        section.twitter .content-twitter .img-twitter img,
        section.twitter .content-facebook .img-twitter img,
        section.facebook .content-twitter .img-twitter img,
        section.facebook .content-facebook .img-twitter img {
          min-height: 400px;
          -o-object-fit: cover;
          object-fit: cover; } }
      @media (min-width: 1200px) {
        section.twitter .content-twitter .img-twitter img,
        section.twitter .content-facebook .img-twitter img,
        section.facebook .content-twitter .img-twitter img,
        section.facebook .content-facebook .img-twitter img {
          height: 500px;
          -o-object-fit: cover;
          object-fit: cover; } }
    section.twitter .content-twitter .img-twitter i,
    section.twitter .content-facebook .img-twitter i,
    section.facebook .content-twitter .img-twitter i,
    section.facebook .content-facebook .img-twitter i {
      font-size: 100px;
      color: #ffffff; }
  section.twitter .content-twitter .mention,
  section.twitter .content-facebook .mention,
  section.facebook .content-twitter .mention,
  section.facebook .content-facebook .mention {
    font-weight: 900;
    font-size: 24px;
    color: #ffffff; }
  section.twitter .content-twitter .twitter-detail,
  section.twitter .content-twitter .facebook-detail,
  section.twitter .content-facebook .twitter-detail,
  section.twitter .content-facebook .facebook-detail,
  section.facebook .content-twitter .twitter-detail,
  section.facebook .content-twitter .facebook-detail,
  section.facebook .content-facebook .twitter-detail,
  section.facebook .content-facebook .facebook-detail {
    font-size: 32px;
    font-weight: 900;
    color: #776e64;
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    line-height: 36px; }
    @media (max-width: 768px) {
      section.twitter .content-twitter .twitter-detail,
      section.twitter .content-twitter .facebook-detail,
      section.twitter .content-facebook .twitter-detail,
      section.twitter .content-facebook .facebook-detail,
      section.facebook .content-twitter .twitter-detail,
      section.facebook .content-twitter .facebook-detail,
      section.facebook .content-facebook .twitter-detail,
      section.facebook .content-facebook .facebook-detail {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 28px;
        padding-top: 2rem; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      section.twitter .content-twitter .twitter-detail,
      section.twitter .content-twitter .facebook-detail,
      section.twitter .content-facebook .twitter-detail,
      section.twitter .content-facebook .facebook-detail,
      section.facebook .content-twitter .twitter-detail,
      section.facebook .content-twitter .facebook-detail,
      section.facebook .content-facebook .twitter-detail,
      section.facebook .content-facebook .facebook-detail {
        font-size: 28px;
        padding-right: 3rem;
        padding-left: 2rem; } }
    @media (min-width: 1200px) {
      section.twitter .content-twitter .twitter-detail,
      section.twitter .content-twitter .facebook-detail,
      section.twitter .content-facebook .twitter-detail,
      section.twitter .content-facebook .facebook-detail,
      section.facebook .content-twitter .twitter-detail,
      section.facebook .content-twitter .facebook-detail,
      section.facebook .content-facebook .twitter-detail,
      section.facebook .content-facebook .facebook-detail {
        font-size: 32px;
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 16rem;
        line-height: 36px; } }
    @media (min-width: 1600px) {
      section.twitter .content-twitter .twitter-detail,
      section.twitter .content-twitter .facebook-detail,
      section.twitter .content-facebook .twitter-detail,
      section.twitter .content-facebook .facebook-detail,
      section.facebook .content-twitter .twitter-detail,
      section.facebook .content-twitter .facebook-detail,
      section.facebook .content-facebook .twitter-detail,
      section.facebook .content-facebook .facebook-detail {
        padding-top: 4rem;
        padding-right: 23rem; } }
  section.twitter .content-twitter .tweet,
  section.twitter .content-facebook .tweet,
  section.facebook .content-twitter .tweet,
  section.facebook .content-facebook .tweet {
    padding-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    @media (max-width: 768px) {
      section.twitter .content-twitter .tweet,
      section.twitter .content-facebook .tweet,
      section.facebook .content-twitter .tweet,
      section.facebook .content-facebook .tweet {
        padding-left: 1rem;
        margin-top: 1rem; } }
    @media (min-width: 768px) {
      section.twitter .content-twitter .tweet,
      section.twitter .content-facebook .tweet,
      section.facebook .content-twitter .tweet,
      section.facebook .content-facebook .tweet {
        margin-bottom: 10rem; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      section.twitter .content-twitter .tweet,
      section.twitter .content-facebook .tweet,
      section.facebook .content-twitter .tweet,
      section.facebook .content-facebook .tweet {
        padding-left: 2rem;
        margin-bottom: 10rem; } }
    @media (min-width: 1200px) {
      section.twitter .content-twitter .tweet,
      section.twitter .content-facebook .tweet,
      section.facebook .content-twitter .tweet,
      section.facebook .content-facebook .tweet {
        padding-left: 4rem;
        margin-bottom: 2rem; } }
    section.twitter .content-twitter .tweet span,
    section.twitter .content-facebook .tweet span,
    section.facebook .content-twitter .tweet span,
    section.facebook .content-facebook .tweet span {
      display: inline-block;
      margin-right: 30px; }
      @media (max-width: 768px) {
        section.twitter .content-twitter .tweet span,
        section.twitter .content-facebook .tweet span,
        section.facebook .content-twitter .tweet span,
        section.facebook .content-facebook .tweet span {
          margin-right: 14px; } }
      section.twitter .content-twitter .tweet span:last-child,
      section.twitter .content-facebook .tweet span:last-child,
      section.facebook .content-twitter .tweet span:last-child,
      section.facebook .content-facebook .tweet span:last-child {
        margin-right: 0px; }
      section.twitter .content-twitter .tweet span a,
      section.twitter .content-facebook .tweet span a,
      section.facebook .content-twitter .tweet span a,
      section.facebook .content-facebook .tweet span a {
        text-transform: none; }
    section.twitter .content-twitter .tweet .hours,
    section.twitter .content-twitter .tweet .dates,
    section.twitter .content-facebook .tweet .hours,
    section.twitter .content-facebook .tweet .dates,
    section.facebook .content-twitter .tweet .hours,
    section.facebook .content-twitter .tweet .dates,
    section.facebook .content-facebook .tweet .hours,
    section.facebook .content-facebook .tweet .dates {
      color: #776e64; }
    section.twitter .content-twitter .tweet .retweet,
    section.twitter .content-twitter .tweet .view,
    section.twitter .content-facebook .tweet .retweet,
    section.twitter .content-facebook .tweet .view,
    section.facebook .content-twitter .tweet .retweet,
    section.facebook .content-twitter .tweet .view,
    section.facebook .content-facebook .tweet .retweet,
    section.facebook .content-facebook .tweet .view {
      font-weight: 900;
      color: #ff9e1b; }
    section.twitter .content-twitter .tweet .retweet:hover .icon.retweet,
    section.twitter .content-facebook .tweet .retweet:hover .icon.retweet,
    section.facebook .content-twitter .tweet .retweet:hover .icon.retweet,
    section.facebook .content-facebook .tweet .retweet:hover .icon.retweet {
      background: url("../images/icon-retweet-hover.png") no-repeat; }

section.facebook {
  background-color: #ffffff; }
  @media (max-width: 768px) {
    section.facebook {
      margin-bottom: 1rem; } }
  @media (min-width: 800px) {
    section.facebook .no-pad-left {
      padding-left: 15px; } }
  section.facebook:after {
    content: '';
    background: none;
    display: none; }
  section.facebook .content-facebook {
    position: relative; }
    section.facebook .content-facebook.border-right {
      height: 580px; }
      @media (max-width: 768px) {
        section.facebook .content-facebook.border-right {
          height: 320px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        section.facebook .content-facebook.border-right {
          height: 580px; } }
      @media (min-width: 768px) {
        section.facebook .content-facebook.border-right {
          height: 100%; } }
      section.facebook .content-facebook.border-right:after {
        content: '';
        width: 1px;
        height: 115%;
        position: absolute;
        background-color: #d6d3d0;
        top: -74px;
        bottom: 0;
        right: 0;
        z-index: 2; }
        @media (max-width: 768px) {
          section.facebook .content-facebook.border-right:after {
            width: 100%;
            height: 1px;
            top: initial;
            bottom: 0; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          section.facebook .content-facebook.border-right:after {
            width: 1px;
            height: 115%;
            top: -66px; } }
        @media (min-width: 768px) {
          section.facebook .content-facebook.border-right:after {
            width: 100%;
            height: 1px;
            top: initial;
            bottom: 0; } }
        @media (min-width: 1024px) {
          section.facebook .content-facebook.border-right:after {
            width: 1px;
            height: 118%;
            top: -95px;
            bottom: 0;
            right: 0; } }
        @media (min-width: 1200px) {
          section.facebook .content-facebook.border-right:after {
            width: 1px;
            height: 115%;
            top: -86px; } }
        @media (min-width: 1440px) {
          section.facebook .content-facebook.border-right:after {
            top: -82px; } }
        @media (min-width: 1600px) {
          section.facebook .content-facebook.border-right:after {
            top: -74px; } }
    @media (min-width: 768px) {
      section.facebook .content-facebook .trending-facebook {
        margin-bottom: 50px; } }
    @media (min-width: 1200px) {
      section.facebook .content-facebook .trending-facebook {
        margin-bottom: 0px; } }
    section.facebook .content-facebook .trending-facebook i {
      font-size: 100px;
      color: #ff9e1b; }
    section.facebook .content-facebook .trending-facebook .mention {
      max-width: 200px;
      margin: 0 auto;
      color: #776e64;
      line-height: 30px;
      padding-top: 12px; }
    section.facebook .content-facebook .img-facebook {
      padding-left: 6rem;
      margin-bottom: 1rem;
      width: 620px;
      height: 343px;
      overflow: hidden; }
      @media (max-width: 768px) {
        section.facebook .content-facebook .img-facebook {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
          margin-top: 2rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        section.facebook .content-facebook .img-facebook {
          width: 94%;
          padding-left: 2rem; } }
      @media (min-width: 800px) {
        section.facebook .content-facebook .img-facebook {
          width: 100%;
          margin-top: 40px;
          padding-right: 2rem; } }
      @media (min-width: 1200px) {
        section.facebook .content-facebook .img-facebook {
          width: 620px;
          padding-left: 4rem;
          margin-top: 0px; } }
      section.facebook .content-facebook .img-facebook img {
        width: 100%;
        height: 343px;
        -o-object-fit: cover;
        object-fit: cover;
        border-top: 8px solid #878cb4; }
    section.facebook .content-facebook .facebook-detail {
      font-size: 18px;
      font-weight: 300;
      color: #776e64;
      line-height: 30px;
      padding-top: 0rem; }
      @media (max-width: 768px) {
        section.facebook .content-facebook .facebook-detail {
          font-size: 16px;
          padding-left: 15px;
          padding-right: 15px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        section.facebook .content-facebook .facebook-detail {
          padding-right: 2rem;
          padding-left: 2rem; } }
      @media (min-width: 1200px) {
        section.facebook .content-facebook .facebook-detail {
          padding-right: 5.6rem; } }
      @media (min-width: 1440px) {
        section.facebook .content-facebook .facebook-detail {
          padding-right: 11.7rem; } }
      @media (min-width: 1600px) {
        section.facebook .content-facebook .facebook-detail {
          padding-right: 16rem; } }

section.shame-nominees,
section.past-winner {
  background-color: #ff9e1b;
  min-height: 564px;
  position: relative;
  z-index: 2; }
  @media (max-width: 768px) {
    section.shame-nominees,
    section.past-winner {
      min-height: 640px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    section.shame-nominees,
    section.past-winner {
      min-height: 480px; } }
  @media (min-width: 768px) {
    section.shame-nominees,
    section.past-winner {
      min-height: 530px; } }
  section.shame-nominees .container-fluid,
  section.past-winner .container-fluid {
    padding-left: 90px;
    padding-right: 90px; }
  section.shame-nominees .stamp,
  section.past-winner .stamp {
    position: absolute; }
    section.shame-nominees .stamp.rotate-1,
    section.past-winner .stamp.rotate-1 {
      -moz-transform: rotate(-4deg);
      -o-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
      left: 57px;
      margin-top: -24px; }
    section.shame-nominees .stamp.rotate-2,
    section.past-winner .stamp.rotate-2 {
      -moz-transform: rotate(9deg);
      -o-transform: rotate(9deg);
      -ms-transform: rotate(9deg);
      -webkit-transform: rotate(9deg);
      transform: rotate(9deg);
      margin-top: -94px;
      right: 85px; }
    section.shame-nominees .stamp.rotate-3,
    section.past-winner .stamp.rotate-3 {
      -moz-transform: rotate(-13deg);
      -o-transform: rotate(-13deg);
      -ms-transform: rotate(-13deg);
      -webkit-transform: rotate(-13deg);
      transform: rotate(-13deg);
      margin-top: -82px;
      right: 50px; }
    section.shame-nominees .stamp.rotate-4,
    section.past-winner .stamp.rotate-4 {
      -moz-transform: rotate(8deg);
      -o-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
      -webkit-transform: rotate(8deg);
      transform: rotate(8deg);
      margin-top: -56px;
      right: 90px; }
  section.shame-nominees:after,
  section.past-winner:after {
    content: '';
    background: url("../images/perspective-top-2.png") no-repeat;
    width: 100%;
    height: 292px;
    background-size: cover;
    bottom: -10rem;
    position: absolute;
    z-index: 1; }
  section.shame-nominees .title-shame-nominees,
  section.past-winner .title-shame-nominees {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    @media (max-width: 768px) {
      section.shame-nominees .title-shame-nominees,
      section.past-winner .title-shame-nominees {
        padding-bottom: 0rem; } }
    section.shame-nominees .title-shame-nominees h1,
    section.past-winner .title-shame-nominees h1 {
      font-size: 32px;
      color: #ffffff; }
      @media (max-width: 768px) {
        section.shame-nominees .title-shame-nominees h1,
        section.past-winner .title-shame-nominees h1 {
          font-size: 28px; } }
  section.shame-nominees .thumb-down,
  section.past-winner .thumb-down {
    position: relative;
    top: 4px;
    margin-right: 10px; }
  section.shame-nominees .wrap-btn-vote,
  section.past-winner .wrap-btn-vote {
    text-align: right;
    height: 170px; }
    section.shame-nominees .wrap-btn-vote .btn-black,
    section.past-winner .wrap-btn-vote .btn-black {
      font-size: 24px;
      padding: 16px 26px; }
    section.shame-nominees .wrap-btn-vote .arrow-right-white,
    section.past-winner .wrap-btn-vote .arrow-right-white {
      width: 15px;
      height: 13px;
      background-size: cover;
      margin-left: 7px;
      position: relative;
      top: -3px; }

.responsive-vote #wrap-logo-company,
.one-slider-vote #wrap-logo-company,
.responsive-take-action #wrap-logo-company {
  border-right: 1px solid rgba(255, 255, 255, 0.27);
  border-left: 1px solid rgba(255, 255, 255, 0.27);
  position: relative; }
  .responsive-vote #wrap-logo-company:nth-child(2), .responsive-vote #wrap-logo-company:nth-child(3), .responsive-vote #wrap-logo-company:nth-child(4), .responsive-vote #wrap-logo-company:nth-child(6), .responsive-vote #wrap-logo-company:nth-child(7), .responsive-vote #wrap-logo-company:nth-child(8),
  .one-slider-vote #wrap-logo-company:nth-child(2),
  .one-slider-vote #wrap-logo-company:nth-child(3),
  .one-slider-vote #wrap-logo-company:nth-child(4),
  .one-slider-vote #wrap-logo-company:nth-child(6),
  .one-slider-vote #wrap-logo-company:nth-child(7),
  .one-slider-vote #wrap-logo-company:nth-child(8),
  .responsive-take-action #wrap-logo-company:nth-child(2),
  .responsive-take-action #wrap-logo-company:nth-child(3),
  .responsive-take-action #wrap-logo-company:nth-child(4),
  .responsive-take-action #wrap-logo-company:nth-child(6),
  .responsive-take-action #wrap-logo-company:nth-child(7),
  .responsive-take-action #wrap-logo-company:nth-child(8) {
    border-left: 1px solid transparent; }

.responsive-vote .slick-prev:before,
.responsive-vote .slick-next:before,
.one-slider-vote .slick-prev:before,
.one-slider-vote .slick-next:before,
.responsive-take-action .slick-prev:before,
.responsive-take-action .slick-next:before {
  font-family: FontAwesome; }

.responsive-vote .slick-prev,
.one-slider-vote .slick-prev,
.responsive-take-action .slick-prev {
  left: -80px;
  background: url("../images/arrow-slider-left.png") no-repeat;
  display: inline-block;
  width: 31px;
  height: 15px;
  z-index: 2; }
  .responsive-vote .slick-prev:hover,
  .one-slider-vote .slick-prev:hover,
  .responsive-take-action .slick-prev:hover {
    background: url("../images/arrow-slider-left-hover.png") no-repeat; }
  @media (max-width: 768px) {
    .responsive-vote .slick-prev,
    .one-slider-vote .slick-prev,
    .responsive-take-action .slick-prev {
      left: 0; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .responsive-vote .slick-prev,
    .one-slider-vote .slick-prev,
    .responsive-take-action .slick-prev {
      left: 0; } }
  @media (min-width: 1200px) {
    .responsive-vote .slick-prev,
    .one-slider-vote .slick-prev,
    .responsive-take-action .slick-prev {
      left: 0; } }
  @media (min-width: 1280px) {
    .responsive-vote .slick-prev,
    .one-slider-vote .slick-prev,
    .responsive-take-action .slick-prev {
      left: -45px; } }
  @media (min-width: 1440px) {
    .responsive-vote .slick-prev,
    .one-slider-vote .slick-prev,
    .responsive-take-action .slick-prev {
      left: -80px; } }
  .responsive-vote .slick-prev:before,
  .one-slider-vote .slick-prev:before,
  .responsive-take-action .slick-prev:before {
    font-size: 26px;
    content: "";
    color: #ffffff; }

.responsive-vote .slick-next,
.one-slider-vote .slick-next,
.responsive-take-action .slick-next {
  right: -80px;
  background: url("../images/arrow-slider-right.png") no-repeat;
  display: inline-block;
  width: 31px;
  height: 15px;
  z-index: 2; }
  .responsive-vote .slick-next:hover,
  .one-slider-vote .slick-next:hover,
  .responsive-take-action .slick-next:hover {
    background: url("../images/arrow-slider-right-hover.png") no-repeat; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .responsive-vote .slick-next,
    .one-slider-vote .slick-next,
    .responsive-take-action .slick-next {
      right: 0; } }
  @media (max-width: 768px) {
    .responsive-vote .slick-next,
    .one-slider-vote .slick-next,
    .responsive-take-action .slick-next {
      right: 0; } }
  @media (min-width: 1200px) {
    .responsive-vote .slick-next,
    .one-slider-vote .slick-next,
    .responsive-take-action .slick-next {
      right: 0px; } }
  @media (min-width: 1280px) {
    .responsive-vote .slick-next,
    .one-slider-vote .slick-next,
    .responsive-take-action .slick-next {
      right: -40px; } }
  @media (min-width: 1440px) {
    .responsive-vote .slick-next,
    .one-slider-vote .slick-next,
    .responsive-take-action .slick-next {
      right: -80px; } }
  .responsive-vote .slick-next:before,
  .one-slider-vote .slick-next:before,
  .responsive-take-action .slick-next:before {
    content: ""; }

.responsive-vote .slick-slide,
.one-slider-vote .slick-slide,
.responsive-take-action .slick-slide {
  padding-bottom: 23px;
  padding-top: 35px; }
  .responsive-vote .slick-slide img,
  .one-slider-vote .slick-slide img,
  .responsive-take-action .slick-slide img {
    margin: 0 auto; }
  .responsive-vote .slick-slide .logo-company,
  .one-slider-vote .slick-slide .logo-company,
  .responsive-take-action .slick-slide .logo-company {
    padding: 20px 0px; }

section.fund-history {
  position: relative;
  z-index: 2;
  margin-top: 3rem; }
  section.fund-history .content-fund,
  section.fund-history .content-history {
    background-color: #f2f3f1;
    border-top: 8px solid #878cb4;
    padding-bottom: 1rem; }
    @media (max-width: 768px) {
      section.fund-history .content-fund,
      section.fund-history .content-history {
        margin-bottom: 2rem; } }
    @media (min-width: 768px) {
      section.fund-history .content-fund,
      section.fund-history .content-history {
        margin-bottom: 2rem; } }
    @media (min-width: 1200px) {
      section.fund-history .content-fund,
      section.fund-history .content-history {
        margin-bottom: 0rem; } }
  section.fund-history .chart-img {
    text-align: center;
    padding-top: 3rem; }
    section.fund-history .chart-img img {
      width: 270px; }
  section.fund-history .report-chart {
    font-size: 13px;
    text-align: left;
    padding-left: 3rem;
    position: absolute; }
  section.fund-history .detail-fund,
  section.fund-history .detail-history {
    padding: 4rem 3rem 3rem 3rem; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      section.fund-history .detail-fund,
      section.fund-history .detail-history {
        padding: 4rem 3rem 1.6rem 3rem; } }
    section.fund-history .detail-fund h1,
    section.fund-history .detail-history h1 {
      font-size: 24px; }
    section.fund-history .detail-fund p,
    section.fund-history .detail-history p {
      padding-top: 1rem; }
    section.fund-history .detail-fund i,
    section.fund-history .detail-history i {
      margin-left: 12px; }
    section.fund-history .detail-fund a:hover .icon.arrow-right-orange,
    section.fund-history .detail-history a:hover .icon.arrow-right-orange {
      -moz-transition: all 0.35s;
      -o-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      margin-left: 20px; }
  section.fund-history .detail-history {
    padding: 4rem 3rem 1rem 3rem; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      section.fund-history .detail-history {
        padding: 4rem 3rem 2.3rem 3rem; } }
  section.fund-history .list-charity {
    padding-left: 33px; }
    @media (max-width: 768px) {
      section.fund-history .list-charity {
        text-align: center; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      section.fund-history .list-charity {
        padding-left: 0px;
        text-align: center; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      section.fund-history .list-charity {
        text-align: center; } }
    section.fund-history .list-charity li {
      margin-right: 32px;
      display: inline-block; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        section.fund-history .list-charity li:nth-child(2), section.fund-history .list-charity li:nth-child(4) {
          margin-right: 0px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        section.fund-history .list-charity li {
          margin-bottom: 10px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        section.fund-history .list-charity li {
          margin-bottom: 10px; } }
  section.fund-history .history-img img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover; }

.overlay-orange {
  background-color: rgba(255, 158, 27, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

section.get-involved {
  margin-top: 5rem;
  cursor: pointer; }
  @media (max-width: 768px) {
    section.get-involved {
      margin-top: 1rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    section.get-involved {
      margin-top: 3rem; } }
  section.get-involved .thumb-involved {
    position: relative;
    overflow: hidden;
    height: 387px;
    margin-bottom: 35px; }
    @media (max-width: 768px) {
      section.get-involved .thumb-involved {
        margin-bottom: 1rem; } }
    @media (min-width: 800px) {
      section.get-involved .thumb-involved {
        margin-bottom: 2rem; } }
    @media (min-width: 1200px) {
      section.get-involved .thumb-involved {
        margin-bottom: 0rem; } }
    section.get-involved .thumb-involved img {
      width: 100%;
      height: 325px;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  section.get-involved .thumb-involved:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  section.get-involved .thumb-involved:hover .overlay-orange {
    background-color: transparent; }
  section.get-involved .thumb-involved:hover .caption-thumb {
    background-color: #ff9e1b; }
  section.get-involved .caption-thumb {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #776e64;
    line-height: 62px;
    padding-top: 8px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    section.get-involved .caption-thumb a {
      font-size: 24px;
      font-weight: 900;
      color: #ffffff;
      display: block;
      text-decoration: none; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        section.get-involved .caption-thumb a {
          font-size: 22px; } }
    section.get-involved .caption-thumb .icon {
      width: 16px;
      height: 18px; }
      section.get-involved .caption-thumb .icon.arrow-right-white {
        background-size: contain;
        margin-left: 12px;
        position: relative;
        top: 4px; }

.thumb-involved .overlay-orange {
  background: #ff9e1b;
  opacity: 1;
  mix-blend-mode: multiply; }
