section.media,
section.blog,
section.standdalone,
section.multipurpose {
	margin-top: 10rem;
	@extend section.featured-resource;
	h3 {
		font-size: 24px;
	    margin-bottom: 20px;
	}
	.content-media,
	.content-blog,
	.content-standdalone,
	.content-multipurpose,
	.content-multipurpose-spokeperson,
	.content-multipurpose-spokepeople {
		@extend .content-featured-resource;
		h1 {
			font-size: 46px;
			color: #776e64
		}
		h2 {
			font-size: 24px;
			color: #ff9e1b;
		    padding-top: 1.4rem;
		}
		p {
			margin-top: 20px;
			margin-bottom: 64px;
		}
	}
	.content-inquiries {
		background-color: #f2f3f1;
		padding: 2.4rem 2rem 4rem 2rem;
	    margin-top: 20px;
        word-break: break-all;
		p {
			margin-bottom: 0px;
		}
		a {
			text-transform: none;
		}
		span.phone {
			display: block;
		}
	}
	.content-spokepeople {
	    padding-top: 5.2rem;
		h3 {
			display: inline-block;
			margin-right: 2rem;
			@media (max-width: 768px) {
		    	margin-bottom: 3rem;
			}
		}
		span.link-view-all {
			a {
				font-size: 14.02px;
			}
		}
	}
	.thumb-spokepeople {
		.img-spokepeople {
		    width: 140px;
    		height: 140px;
			overflow: hidden;
			@include border-radius(50%);
			margin: 0 auto;
		}
		img {
		    width: 108%;
   			height: 130%;
   			object-fit: cover;
		}
	}
	.identity-spokepeople {
	    padding-top: 1rem;
    	padding-left: 2rem;
    	@media (max-width: 768px) {
		    padding-top: 2rem;
		    padding-left: 0rem;
		    text-align: center;
		    padding-bottom: 2rem;
    	}
		span {
			font-size: 14px;
			display: block;
		}
		span.name,
		span.mention {
			font-weight: 900;
			color: #ff9e1b;
		}
	}
}

section.post-media {
	margin-top: 1.8rem;
	.link-viewing-content-post {
		font-size: 18px;
	    margin-bottom: 4rem;
		a {
			font-weight: 300;
			text-transform: none;
			color: #776e64;
			&:hover {
				color: #ff9e1b;
			}
		}
		a.active {
			font-weight: 900;
			color: #776e64;
			&:hover {
				color: #ff9e1b;
			}
		}
	}
	.media {
		margin-bottom: 1.8rem;
		@media (max-width: 768px) {
			display: block;
		}
		.label-topic {
			@media (max-width: 768px) {
		    	margin: 16px 0px;
			}
		}
		.title-topic {
			font-weight: 900;
			color: #776e64;
			margin-top: 1rem;
		}
		h3 {
			font-size: 24px;
			color: #ff9e1b;
		}
		.badge-dark-blue {
			font-size: 11px;
			padding: 7px 10px 6px 10px;
		}
		span.separated-circle {
			width: 4px;
			height: 4px;
			background-color: #776e64;
			@include border-radius(50%);
			display: inline-block;
		    margin: 0px 10px;
		    position: relative;
		    top: -2px;
		}
		span.topic-date {
			margin-right: 40px;
		}
		img {
			width: 180px;
			object-fit: cover;
		    margin-top: 6px;
		}
	}
}