@mixin placeholder {
    &::-moz-placeholder {
        @content
    }
    &::-webkit-input-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}
@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
    transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

.btn-blue {
    background-color: #64ccc9;
    border-color: #64ccc9;
    color: #ffffff !important;
    @include border-radius(0px);
    font-weight: 900;
    @include transition(all 0.35s);
    &:hover,
    &:active,
    &:focus {
        background-color: #57b1ae !important;
        border-color: #57b1ae !important;
        color: #ffffff !important;
    }
}

.btn-orange {
    background-color: #ff9e1b;
    border-color: #ff9e1b;
    color: #ffffff !important;
    @include border-radius(0px);
    font-weight: 900;
    @include transition(all 0.35s);
    &:hover,
    &:active,
    &:focus {
        background-color: #776e64 !important;
        border-color: #776e64 !important;
        color: #ffffff !important;
    }
}

.btn-black {
    background-color: #776e64;
    border-color: #776e64;
    color: #ffffff !important;
    @include border-radius(0px);
    font-weight: 900;
    @include transition(all 0.35s);
    &:hover,
    &:active,
    &:focus {
        background-color: #514b44 !important;
        border-color: #514b44 !important;
        color: #ffffff !important;
    }
}

.badge-dark-blue {
    font-size: 14px;
    padding: 7px 10px 4px 10px;
    background-color: #878cb4;
    @include border-radius(0px);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    @include transition(all 0.35s);
    &:hover {
        background-color: #6a6e8d;
    }
}

.wrap-vertical-align {
    display: table;
    width: 100%;
    height: 100%;
    .vertical-align {
        display: table-cell;
        width: 100%;
        height: 100%;
    }
}

.vertical-align {
    &.middle {
        text-align: center;
        vertical-align: middle;
    }
}

.no-pad-right {
    padding-right: 0px;
}

.no-pad-left {
    padding-left: 0px;
}

.multiply-orange {
    background-color: #ff9e1b;
    background-blend-mode: multiply;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea.form-control  {
    border: 1px solid #979797;
}

.icon {
    width: 12px;
    height: 10px;
    display: inline-block;
    &.arrow-right-orange {
        background: url("../images/icon-arrow-right-orange.png") no-repeat;
        @include transition(all 0.35s);
    }
    &.arrow-right-white {
        background: url("../images/icon-arrow-right-white.png") no-repeat;
        @include transition(all 0.35s);
    }
    &.arrow-down-orange {
        background: url("../images/icon-arrow-down-orange.png") no-repeat;
        height: 12px;
        @include transition(all 0.35s);
    }
    &.retweet {
        background: url("../images/icon-retweet.png") no-repeat;
        width: 20px;
        height: 13px;
        @include transition(all 0.35s);
    }
    &.thumb-down {
        background: url("../images/icon-thum-down.png") no-repeat;
        width: 37px;
        height: 30px;
    }
}


.wrap-search {
    margin-top: 4rem;
    .search {
        background-color: #878cb4;
        padding: 1.3rem 0rem 1.3rem 0rem;
        .nav {
             @media (max-width: 768px) {
                display: block;
            }
            .nav-link {
                padding: 0.3em 1em;
                border: 1px solid transparent;
                &:hover,
                &:focus,
                &:active {
                    background-color: rgba(255, 255, 255, 0.28);
                    border: 1px solid #ffffff;
                }
            }
            .active {
                background-color: rgba(255, 255, 255, 0.28);
                border: 1px solid #ffffff;
            }
            span {
                text-transform: uppercase !important;
                line-height: 30px;
            }
            li > a,
            span {
                font-size: 14px;
                text-transform: none;
                color: #ffffff;
            }
            li {
                margin-right: 24px;
                 @media (max-width: 768px) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
    .search-result {
        border-left: 1px solid #d6d3d0;
        border-right: 1px solid #d6d3d0;
        border-bottom: 1px solid #d6d3d0;
        padding: 3rem 1rem 3rem 1rem;
        @media (max-width: 768px) {
            padding: 1rem 0rem 1rem 0rem;
        }
        .nav {
            @media (max-width: 768px) {
                display: block;
            }
            li {
                margin-right: 40px;
                @media (max-width: 768px) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        &.img {
            @media (max-width: 768px) {
                overflow: hidden;
            }
            .nav {
                li {
                    margin-right: 18px;
                    @media (max-width: 768px) {
                        overflow: hidden;
                        margin-bottom: 20px;
                    }
                    @media (min-width: 1024px) {
                        margin-right: 60px;
                    }
                    @media (min-width: 1200px) {
                        margin-right: 38px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            span.img,
            span.name {
                float: left;
                @media (min-width: 1024px) {
                    float: none;
                } 
                @media (min-width: 1200px) {
                    float: left;
                }
            }
            span.img {
                width: 70px;
                height: 70px;
                overflow: hidden;
                display: inline-block;
                @include border-radius(50%);
                 @media (min-width: 1024px) { 
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            } 
            span.name {
                line-height: 70px;
                display: inline-block;
                margin-left: 18px;
                @media (min-width: 1024px) { 
                    text-align: center;
                    margin-left: 0px;
                    display: block;
                }
                @media (min-width: 1200px) {
                    margin-left: 11px
                }
            } 
        }
    }
}

.author {
    font-size: 14px;
    color: #776e64;
}