section.resource-top {
	@extend section.media;
	.content-resource {
		@extend .content-media;
		p {
			margin-bottom: 0px;
		}
	}
}

section.resource {
	@extend section.featured-resource;
    margin-top: 1rem;
    margin-bottom: 6rem;
	.content-featured-resource {
		&.desc {
			padding-right: 0rem;
		}
	}
	.img-featured-resource {
    	margin-top: 2.3rem;
	}
}

section.post-media {
	&.resource {
		.media {
			img {
				width: 180px;
				height: 180px;
				object-fit: cover;
			    margin-top: 18px;
			}
		}
	}
}